name: Tests

on:
  push:
    branches:
      - main
      - develop
      - trunk-merge/**
  pull_request:
    branches:
      - main
      - develop
      - trunk-merge/**
      - "*"

jobs:
  install:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.7, 3.8, 3.9, 3.10, 3.11]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install via Pip
        run: python3 -m pip install .

      - name: Check installation
        run: |
          export CRIPT_TOKEN="125433546"
          export CRIPT_HOST="http://development.api.mycriptapp.org/"
          python3 -m pip install pytest
          python3 -m pip install -r requirements.txt
          python3 -c "import cript"
          export CRIPT_TOKEN="125433546"
          export CRIPT_HOST="http://development.api.mycriptapp.org/"
          python3 -m pytest
